header {
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;

  /* Display and Box Model */
  width: 100vw;
  height: 10vh;

  /* Text */
  font-size: 1rem;

  /* Colors and Backgrounds */
  background: transparent;

  /* Effects and More */
  /* border-bottom: 1.5px solid orange; */

  .inner-header {
    /* Display and Box Model */
    height: 100%;
    margin: 0 1.5rem;

    .header-nav {
      /*  */
    }
  }
}

.logo {
  /* Text */
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;

  span {
    /* Colors and Backgrounds */
    color: #ff6700;
  }
}

.header-nav__list {
  /* Text */
  text-align: center;

  .header-nav__item {
    /* Display and Box Model */
    margin: 0 5px;
    padding: 10px;
    transition: all 0.5s ease-in-out;

    &:after {
      /* Display and Box Model */
      content: "";
      display: block;
      width: 100%;
      height: 0.2rem;

      /* Colors and Backgrounds */
      background-color: #ff6700;

      /* Effects and More */
      opacity: 0;

      /* Effects and More */
      transform: translateY(5px) left;
      transition: 0.5s ease-in;
    }

    &:hover:after {
      /* Effects and More */
      opacity: 1;
      transform: translateY(3px);
    }

    .header-nav__link {
      /* Colors and Backgrounds */
      color: #fff;
    }
  }
}

.nav__action {
  /* Colors and Backgrounds */
  background: #ff6700;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    font-size: 0.65rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    .inner-header {
      .header-nav {
        display: none;
      }
    }
  }

  .logo {
    font-size: 1rem;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  header {
    .inner-header {
      .header-nav {
        display: none;
      }
    }
  }

  .logo {
    font-size: 0.75rem;
  }
}

@media (max-width: 424px) {
  header {
    .inner-header {
      .header-nav {
        display: none;
      }
    }
  }

  .logo {
    font-size: 0.65rem;
  }
}
